.home-img {
  display: flex;
  height: 35vh;
  border-radius: 50%;
  transition: width 2s, height 2s, transform 2s;
  margin: 2rem 0;
}

.home-img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transition: transform 2s;
}

.songImg {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  margin: 1rem 0;

  transition: width 2s, height 2s, transform 2s;
}
.songImg:hover {
  transform: rotate(360deg);
  transition: transform 4s;
}
.songSelector {
  box-shadow: 0 0 30px 10px orange inset;
  transition: width 2s, height 2s, transform 2s;
}
.songSelector:hover {
  transform: rotate(360deg);
}
